<!doctype html>
<html>

  <head>
    <title>
    {{subject}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <link href="/css/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body bgcolor="#ffffff">
    <div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
    {{preview}} {{> preview-text-hack}}
    </div>
    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" id="backgroundTable">
      <tr>
        <td style="border-collapse: collapse">
          <table bgcolor="#49b8c9" class="" cellpadding="0" cellspacing="0" border="0" width={{emailWidth}}
          align="center">
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>