/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

//$padding: 30px; // For consistent padding
$br: 3px; // Border radius

$link-color: #444444;
$primary-text-color: #000000;

$white: #ffffff;
$black: #000000;

$backgroundColor: $white;
$background-contrast-text-color: $black;
