/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */

table,
td,
div,
a {
  box-sizing: border-box;
}

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: top;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  height: 100% !important;
  line-height: 1.6em;
  margin: 0 auto !important;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100% !important;
  background-color: #ffffff;
}

// Fixes that weird centering issue on android 4.4
div[style*="margin: 16px 0"] {
  margin: 0 !important;
}

// Let's make sure all tables have defaults
table {
  border-collapse: separate !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  -premailer-width: 100%; // This is a specific style for the premailer gem

  td {
    font-family: Arial, sans-serif;
    font-size: 15px;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    vertical-align: top;
  }
}

/* Client-specific Styles */
#outlook a {
  padding: 0;
} /* Force Outlook to provide a "view in browser" menu link. */
body {
  width: 100% !important;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #ffffff;
}
/* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/
.ExternalClass {
  width: 100%;
} /* Force Hotmail to display emails at full width */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
#backgroundTable {
  width: 100% !important;
  margin: 0;
  padding: 0;
  line-height: 100% !important;
  background-color: #ffffff;
}

img.block {
  display: block !important;
  max-width: none;
}
