/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body{
    margin:0;
    padding:0;
}

img{
    border:0 none;
    height:auto;
    line-height:100%;
    outline:none;
    text-decoration:none;
}

a img{
    border:0 none;
}

.imageFix{
    display:block;
}

table, td{
    border-collapse:collapse;
    padding: 0;
    margin: 0;
}

#bodyTable{
    height:100% !important;
    margin:0;
    padding:0;
    width:100% !important;
}
