/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

@media (max-width: $width) {
  $minimum-width: 220px;
  .main {
    width: 100%;
  }

  // Type
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600 !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  img.responsive {
    max-width: 100%;
    height: auto;
  }

  img.block {
    max-height: 30px;
  }

  th.row-break {
    display: block !important;
  }

  // Buttons
  .btn {
    width: 100% !important;
  }

  span.space-breaker {
    white-space: normal !important;
  }
}

@media only screen and (max-width: 480px) {
  td,
  image {
    &.hide-on-mobile {
      max-height: 0px !important;
      // width: 0px !important;
      height: 0px !important;
      font-size: 0px !important;
      display: none !important;
      visibility: none !important;
      mso-hide: all !important;
    }
  }

  *[class].hide-on-mobile {
    max-height: 0px !important;
    // width: 0px !important;
    height: 0px !important;
    font-size: 0px !important;
    display: none !important;
    visibility: none !important;
    mso-hide: all !important;
  }
}
