/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1,
h2,
h3,
h4 {
  color: #000 !important;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
}

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
  font-weight: 500;
}

p,
ul,
ol {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;

  li {
    list-style-position: inside;
    margin: 0px;
  }

  sup {
    font-size: 12px;
    line-height: 0px;
    padding-left: 0px;
  }
}

a {
  color: $link-color;
  text-decoration: underline;
}
