/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
table,
td,
div,
a {
  box-sizing: border-box;
}

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: top;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  height: 100% !important;
  line-height: 1.6em;
  margin: 0 auto !important;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100% !important;
  background-color: #ffffff;
}

div[style*="margin: 16px 0"] {
  margin: 0 !important;
}

table {
  border-collapse: separate !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  -premailer-width: 100%;
}
table td {
  font-family: Arial, sans-serif;
  font-size: 15px;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  vertical-align: top;
}

/* Client-specific Styles */
#outlook a {
  padding: 0;
}

/* Force Outlook to provide a "view in browser" menu link. */
body {
  width: 100% !important;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #ffffff;
}

/* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/
.ExternalClass {
  width: 100%;
}

/* Force Hotmail to display emails at full width */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
#backgroundTable {
  width: 100% !important;
  margin: 0;
  padding: 0;
  line-height: 100% !important;
  background-color: #ffffff;
}

img.block {
  display: block !important;
  max-width: none;
}

/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #000 !important;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
}

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

p,
ul,
ol {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
p li,
ul li,
ol li {
  list-style-position: inside;
  margin: 0px;
}
p sup,
ul sup,
ol sup {
  font-size: 10px;
  line-height: 0px;
  padding-left: 2px;
}

a {
  color: #444444;
  text-decoration: underline;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media (max-width: 553px) {
  .row-3 .paragraph p {
    font-size: 15px !important;
    line-height: 23px !important;
  }
}
@media (max-width: 428px) {
  .row-3 .paragraph p {
    font-size: 13px !important;
    line-height: 20px !important;
  }
}
@media (max-width: 659px) {
  .main {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600 !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  img.responsive {
    max-width: 100%;
    height: auto;
  }

  img.block {
    max-height: 30px;
  }

  th.row-break {
    display: block !important;
  }

  .btn {
    width: 100% !important;
  }

  span.space-breaker {
    white-space: normal !important;
  }

  .row-3 .padding {
    width: 20px;
  }

  .row-7 .padding {
    width: 20px;
  }

  .btn {
    width: 100% !important;
  }
}
@media only screen and (max-width: 480px) {
  td.hide-on-mobile,
  image.hide-on-mobile {
    max-height: 0px !important;
    height: 0px !important;
    font-size: 0px !important;
    display: none !important;
    visibility: none !important;
    mso-hide: all !important;
  }

  *[class].hide-on-mobile {
    max-height: 0px !important;
    height: 0px !important;
    font-size: 0px !important;
    display: none !important;
    visibility: none !important;
    mso-hide: all !important;
  }
}
table.main {
  background-color: #4db9c6;
}

tr .row-3 .paragraph {
  font-family: Arial;
  color: #ffffff;
}
tr .row-3 .paragraph p {
  font-size: 20px;
  line-height: 28px;
}
tr td.login {
  font-size: 15px;
  line-height: 17px;
  color: #caeaee;
}
tr td.login a {
  text-decoration: none;
  color: #caeaee;
}
tr .row-7 {
  background-color: #ffffff;
}
tr .white-bar {
  background-color: #ffffff;
}

span.space-breaker {
  white-space: nowrap;
}

span.perma-space-breaker {
  white-space: nowrap;
}

unsubscribe {
  text-decoration: underline !important;
}

.textcenter {
  text-align: center;
}

.text-dec-none {
  text-decoration: none !important;
}

.legalcopy p {
  color: #827a72;
  font-size: 12px;
  font-family: Arial;
  font-weight: 300;
  line-height: 15px;
}
