@import "genvariables";
@import "global";
@import "config";
@import "type";
@import "responsive";

table.main {
}

tr {
}

td {
}

span.space-breaker {
  white-space: nowrap;
}

span.perma-space-breaker {
  white-space: nowrap;
}

unsubscribe {
  text-decoration: underline !important;
}

.textcenter {
  text-align: center;
}

.text-dec-none {
  text-decoration: none !important;
}

.legalcopy {
  p {
    color: $legal-text-color;
    font-size: 12px;
    font-family: Arial;
    font-weight: 300;
    line-height: 15px;
  }
}
